body{
    margin: auto;
    display: -moz-box;
}
.h_image{
    background-image: url("../images/assets/backgrounds/h_img.jpg");
    height:400px; 
     
}
#logo{
    text-align-last: center;

}
.banner1,.banner2 { 
    text-align: center;
    color: white;
}
#logo{
    text-align: center;
}
.About{
    text-align: center;
    height: 300px;
}
.s_image{
    background-image: url("../images/assets/backgrounds/s_image.jpg");
    height:300px;
    font-display: 
}
.banner2-1,.banner2-2 {
    text-align: center; 
    color: white;

}
.What-we-do{
    display: inline;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 150px;
}
.we-do{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
}
.PortF1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

#design_icon{
    display: inline;
    float: inline-start;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 150px;
    padding-left: 150px;
}
#dev_icon{
    display: inline;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 150px;
    padding-left: 150px;
    
}
#prd_icon{
    display: inline;
    float: inline-end;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 150px;
    padding-left: 150px;
}
.row1{
    padding: inherit;
   display: inline-table;
}
.PortF1{
    padding: 20px, 20px, 20px, 20px;
}
.col-sm-3{
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
     
}




