
body{
    margin: auto;
    box-sizing: border-box;
}
.content{
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}
.h_image{
    background-image: url("../images/assets/backgrounds/h_img.jpg");
    height:700px; 
     
}
#logo{
    text-align-last: center;
    padding-top: 200px;
    padding-bottom: 30px;

}
.banner1,.banner2 { 
    text-align: center;
    color: white;
}
.banner2 {
    padding-bottom: 120px;
}

#mouse_click{
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 5px;
}
.About{
    text-align: center;
    height: 300px;
    padding: 30px;
    line-height: 200%;
}
.s_image{
    background-image: url("../images/assets/backgrounds/s_image.jpg");
    height: 350px;
    padding-top: 100px;
    line-height: 200%; 
}
.banner2-1,.banner2-2 {
    text-align: center; 
    color: white;

}
.row{
    text-align: center;
}
.What-we-do{
    display: inline;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 150px;
}
.we-do{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
}
.PortF1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}
.container{
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 300px, auto;
    background: white;
}
.container .box {
    position: relative;
    width: calc(400px - 60px);
    height: calc(300px - 80px);
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
.container .box .icon{
    position: absolute;
    top: 0;
    left 0;
    width: 50%;
    height: 50%;
    background: white;
    transition: 0.5s;
    z-index: 1;
}

.container .box:hover .icon{
    top: 20px;
    left: calc(50% - 40%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0;
}
.container .box .icon .hov {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-box: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.5s;
    color: azure;
}
.container .box:hover .icon .hov{
    font-size: 40px;
}
.container .box .par{
    position: absolute;
    top: 100%;
    height: calc(100% -100%);
    text-align: center;
    box-sizing: border-box;
    transition: 0.5s;

}
.container .box:hover .par{
    top: 100px;
}
.container .box .par p{
    margin: 0;
    padding: 0;
}
/* .design{
    display: inline;
    float: inline-start;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 150px;
    padding-left: 150px;
}
.dev{
    display: inline;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 150px;
    padding-left: 150px;  
}
.prd{
    display: inline;
    float: inline-end;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 150px;
    padding-left: 150px;  
} */

/* #design_icon{
    display: inline;
    float: inline-start;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 150px;
    padding-left: 150px;
}
#dev_icon{
    display: inline;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 150px;
    padding-left: 150px;
    
}
#prd_icon{
    display: inline;
    float: inline-end;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 150px;
    padding-left: 150px;
} */


.Portfolio{
    padding: 60px;
    text-align: center;
}
 .row1{
    display: flex;
    box-sizing: border-box;
    padding: 30px,50px, 10px,20px;
    border: 20px, 30px, 20px, 30px;
    margin: 20px;
    text-align: start;
      
} 

.PortF1{
    padding: 20px, 20px, 20px, 20px;
}
 .col-sm-3{
    display: inline;
    width: 33.33%;
    padding: 10px;
    
}
.row2{
    display: flex;
    box-sizing: border-box;
    padding: 30px,50px, 10px,20px;
    border: 20px, 30px, 40px,30px;
    margin: 20px;
    text-align: justify;
}
.contact_us{
    background-image: url("../images/assets/backgrounds/c_image.jpg");
    height: 400px;
    text-align: center;
    color: white;
}
.social_icons{
    text-align: center;
}


    
     





