body{
    margin: auto;
}
.h_image{
    background-image: url("../images/assets/backgrounds/h_img.jpg");
    height:400px;  
}
#logo{
    text-align: center;
}
.banner1,.banner2 { 
    text-align: center;
    color: white;
}
#logo{
    text-align: center;
}
.About{
    text-align: center;
    height: 300px;
}
.s_image{
    background-image: url("../images/assets/backgrounds/s_image.jpg");
    height:200px;
    font-display: 
}
.banner2-1,.banner2-2 {
    text-align: center; 
    color: white;

}
.what-we-do{
    text-align: center;
}
#design_icon{
    float: left;
}




